body {
    padding-top: 10%;
    background-color: rgba(0, 68, 66, 0.85);
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.panel {
    margin: 5% 10%;
    padding-top: 5%;
    border-radius: 10px;
    color: #666666;
    background-color: white;
    text-align: center;
}

.logo {
    width: 90%;
    height: auto;
    margin: 5% auto;
}

.btn-newGame {
    background-color: #E8E9EC;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.btn-newGame:hover,
.btn-newGame:focus {
    color: #fff;
    background-color: #2D3B55;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

    color: #fff;
    background-color: #2D3B55;
}

.list-group-item {
    padding: 5px 15px;
}

#settings {
    text-align: right;
}



